<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>FINIT Automation</title>
    
</head>
<body>
  
    <mat-toolbar class="container-toolbar" color="primary">
       <span class="title"> FINIT Automation</span>
       <span class="home"><a href=# routerLink="/home">Home</a></span>
    </mat-toolbar>
    <!-- <div class="container">
    <div>
    <div class="dropdown">
        <div class="Applications"> 
            <span >Test Cases</span>
        </div>
        <ng-multiselect-dropdown
        [settings] = "dropdownSettings"
        [data] = "dropdownList"
        (onSelect)="onItemSelect($event)"
        (onDeSelect)="onItemDeSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelectAll)="onUnSelectAll()"
        >   
        </ng-multiselect-dropdown>
    </div>
   
  
       <div class="server">
            <button type="button" id="Server1" class="btn btn-primary" >Server1</button>
            <button type="button" id="Server2" class="btn btn-primary" >Server2</button>
        </div> -->
        <!-- <a href=# routerLink="/display-test-cases"><button type="button" id="button" class="btn btn-primary" disabled="disabled" > Next</button></a>
   
   
</div> 
</div>  -->
<br>
<h4 style="margin-left: 500px;font-family: 'Times New Roman', Times, serif ;font-size: 38px;">Test Cases</h4><br>
  
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group" style="font-family: 'Times New Roman', Times, serif;">
  <mat-radio-button class="example-radio-button" *ngFor="let testCase of testCases" [value]="testCase">
    {{testCase}}
  </mat-radio-button>
</mat-radio-group>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


https://stackoverflow.com/questions/67524949/error-ts2531-object-is-possibly-null-in-angular-reactive-forms