.dropdown{
    
    margin-top: 9em;
    margin-left: 35rem;
    width:14em;
    
    /* border: solid; */
}

mat-toolbar {
display: flex;
text-align: justify;
}
.Applications {
 margin-left: -7em;
 margin-bottom:-1.8em;
 font-size: 17px;
 font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-style: normal;
font-weight: bold;

}
/* ng-multiselect-dropdown {
     border: solid; 
} */
#button {
    margin-left: 45em;
    margin-top: 1em; 
     background-color: blue;
}

/* .next-button{
    background-color: blueviolet;
   margin-bottom: 40em;
} */
span {
    margin: auto;
}

/* .container {
    
} */

#Server1 {
    margin-right:205px;
}

#Server1 {
    margin-left:-60px;
}
.server {
margin-left: 30em;
margin-top:9em;

}